* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.color1 {
    background-color: pink;
}
.color2 {
    background-color: burlywood;
}
.color3 {
    background-color: darkseagreen;
}
.heading{
    font-weight: bold;
    font-size: larger;
    text-align: center;
    padding: 5px;
    bottom: 5px;
    border-right: 1px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.heading1{
    font-weight: bold;
    font-size: larger;
    text-align: center;
    padding: 5px;
    bottom: 5px;
    border-right: 1px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.heading2{
    font-weight: bold;
    font-size: larger;
    text-align: center;
    padding: 5px;
    bottom: 5px;
    border-right: 1px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.layout {
    float: left;
    border: 2px solid black;
    background-color: lightgray;
    padding: 5px;
}
.layout1 {
    float: left;
    border: 2px solid black;
    background-color: lightgray;
    padding: 5px;
}
.layout2 {
    float: left;
    border: 2px solid black;
    background-color: lightgray;
    padding: 5px;
}
@media (min-width: 992px){
    .layout {
        width: 30%;
        margin-left: 2.5%;
    }
    .heading {
        width: 33.33%;
        position: relative;
        right: -68.5%;
    }
}

@media (min-width: 768px ) and ( max-width: 991px){
    .heading1 {
        width: 33.33%;
        position: relative;
        right: -68.3%;
        
    }
    .heading2 {
        width: 33.33%;
        position: relative;
        right: -67.4%;
    }
    .layout1 {
        width: 45%;
        margin-left: 3.33%;
        margin-bottom: 30px;
        padding: 5px;
    }
    .layout2 {
        width: 93.33%;
        margin-left: 3.33%;
        padding: 5px;
    }
}

@media (max-width: 767px) {
    .heading {
        width: 33.33%;
        position: relative;
        right: -67.8%;
        }    
    .layout {
        width: 93.33%;
        margin-left: 3.33%;
        margin-bottom: 30px;
    }   
}